<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
      ">

    <!--配置Action-->
    <bean id="departmentAction" class="web.action.DepartmentAction" scope="prototype">
        <property name="departmentService" ref="departmentService"></property>
    </bean>

    <bean id="employeeAction" class="web.action.EmployeeAction" scope="prototype">
        <property name="employeeService" ref="employeeService"></property>
        <property name="departmentService" ref="departmentService"></property>
    </bean>

    <bean id="roleAction" class="web.action.RoleAction" scope="prototype">
        <property name="roleService" ref="roleService"></property>
    </bean>

</beans>